.center
  #magazine.centerStart
    .page
      %span.text 
        %p Diva Salon Kosmetyczny
        %p Menu
    .page
      %span.text 2 Tu coś tam
    .page
      %span.text 3 Itd...
    .page
      %span.text 4 Itd...
    .page
      %span.text 5 Itd...
    .page
      %span.text 6 Itd...