!!!
%html{:lang => "en"}
  %head
    %title App
    %meta{:charset => "utf-8"}
    %script{:src => "/vendor/jquery/jquery-min.js"}
    %script{:src => "/vendor/underscore/underscore-min.js"}
    %script{:src => "/vendor/backbone/backbone-min.js"}
    %script{:src => "/vendor/ksiazka.js"}
    %link{:rel => "stylesheet", :href => "/styles/app.css"}
    %script{:src => "/scripts/app.js"}
  %body
    %header
      = partial :header
    %section#content
      = yield
    %footer
      = partial :footer
